
REQUIREMENTS (TaSp)

    Notice

        The code of this TaSp version was simply converted from Python 2.x
        to 3.x syntax using the 2to3 tool and has only been tested
        fundamentally.

        If you need a version that works with Python 2.x, you may look here:

            http://www.urbanware.org/tasp.html

    General

        Software requirements:

            - Python 3.x (version 3.2 or higher is recommended, may also work
                          with earlier versions)

